{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
   <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%">0%</div>
  </div>


  <h1>Home</h1>

<p>This website will ask you a series of questions about animals, and then
tell you what some of your answers were. It will also tell you whether some of your answers were correct or incorrect.</p>

  <form action={{ url_for("renderPage1") }} method="GET">
  <input type="submit" value="Get Started">
 </form> 
  

    <p id="error"> {{ error }} </p>

  
{% endblock %}
