{% extends "layout.html" %}

{% block title %}Page 3: Animal Question 2{% endblock %}

{% block content %}
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:45%">Question 2</div>
  </div>
  <h1>Page 3: Animal Question 2</h1>

 <form action={{ url_for("renderPage4") }} method="POST">
  <h2> Which is the biggest fish?</h2>

  <p>Please select the correct animal:</p>
  
  <input type="radio" id="Jellyfish" name="Question 2" value="Jellyfish" checked>
  <label for="Jellyfish">Jellyfish</label><br>
  <input type="radio" id="Brown_Tang" name="Question 2" value="Brown Tang">
  <label for="Brown Tang">Brown Tang</label><br>  
  <input type="radio" id="Tuna" name="Question 2" value="Tuna">
  <label for="Tuna">Tuna</label><br>
  <input type="radio" id="Whale_shark" name="Question 2" value="Whale Shark">
  <label for="Whale Shark">Whale Shark</label><br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}
