{% extends "layout.html" %}

{% block title %}Page 8--Now we know everything!{% endblock %}

{% block content %}

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">Final Results</div>
  </div>

<h1>Final Results:</h1>
	
<ul>
 <li> You answered the extra credit question {{ correct4 }}. </li>
 <li> Your new score is {{ score }} out of 4. </li>
</ul>

<p>You have finished the quiz. Click the button to Start over!</p>



 


{% endblock %}
